

.head {
    background-color: black;
    max-width: 100%;
}

ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

.head li {
    display: inline-block; 
    padding: 2rem;  
}

hr {
    max-width: 100%; 
}


.bar-btn a {
    color: white; 
    text-decoration: none; 
    transition: color 0.3s; 
}
.bar-btn a:hover {
    color: aqua; 
}
@media only screen and (max-width:376px) {
    .bar-btn a {
        font-size: 15px;
    }
}
