* {
  margin: 0%;
}
.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 5vw;
  transform: translateY(-50%);
}
button {
  display: inline;
  margin-right: 15px;
  padding: 15px;
  color: white;
  background-color: #f1f1f100;
  border: 1px solid white;
  border-radius: 30px;
  transition: background-color 0.3s, transform 0.3s;
  
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
  }
}
body {
  background-image: url("./assets/formobilebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  max-width: 100%;
  width: 100vw;
}
.fname{
  font-size: 115.2px;
  color: white;
}
.lname{
  font-size: 134.4px;
  color: white;
}
@media only screen and (max-width : 731px){
  body {
    background-image: url("./assets/formobilebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    max-width: 100%;
    width: 100vw;
  }
  .name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 5vw;
    transform: translateY(-50%);
  }
 
}
@media only screen and (max-width : 731px){
  body {
    background-image: url("./assets/formobilebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    max-width: 100%;
    width: 100vw;
  }
  .fname{
    font-size: 96px;
  }
  .lname{
    font-size: 96px;
  }

}
@media only screen and (max-width : 366px){
  .fname{
    font-size: 57.6px;
  }
  .lname{
    font-size:57.6px;
  }
  body{
    background-image: url("./assets/formobilebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    max-width: 100%;
    width: 100vw;
  }
  button{
    margin: 5px;
    max-width:100%;
    width: 96px;
    display: block;
  }
}
